
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://breakawayexperiences.com/content/images/thumbs/0005641_london-hot-air-balloon-ride.jpeg">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<p>
  notifications !
  <button  mat-raised-button color="accent"
      matBadge="14" matBadgePosition="after" matBadgeColor="warn">
    Action
  </button>
<router-outlet></router-outlet>
<nav>
  <a mat-raised-button color="accent" routerLink="/sign-in">sign-in</a>
</nav>
