
<nav mat-tab-nav-bar class="nav-tabs" fxLayout="row" fxLayoutAlign="center center">
  <a mat-tab-link
     routerLink="/"
     active="isActive"
   >
    HOME
  </a>
  <a mat-tab-link
     routerLink="/accomodation"
     active="accomodation.isActive"
   >
    ACCOMODATION
  </a>
  <a mat-tab-link
     routerLink="/offers"
     active="offers.isActive"
   >
    OFFERS
  </a>

<a mat-tab-link
   routerLink="/food-bererage"
   active="food-bererage.isActive"
 >
 Food Bererage
</a>

<a mat-tab-link
   routerLink="/life-style"
   active="life-style.isActive"
 >
 Life Style
</a>

</nav>
  
