<div class="container"  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutAlign="center">
<div  fxFlex="80%" class="home-theme">
    <div fxLayout="column" fxLayoutAlign="end end">
        <a mat-button class="r-button" routerLink="/sign-up">Register</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        
        <h2 class="text"><p>Luxury Beach</p>come here and relax </h2> 
    </div>
</div>
</div>
<section>
        <h1 class="rooms-title">Rooms and suites </h1>
    <div  fxLayout fxLayoutAlign="center">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatum debitis</p>
   </div>
   <div class="rooms">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="25%">
                        <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Single Room</mat-card-title>
                                  <mat-card-subtitle>
                                        <mat-icon>star</mat-icon>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="assets/images/7.jpg" alt="Photo of a Shiba Inu" width="300px" height="300px">
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>Reserve Now</button>
                                </mat-card-actions>
                              </mat-card>
                </div>
                <div fxFlex="25%">
                        <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Double Room </mat-card-title>
                                  <mat-card-subtitle>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="assets/images/8.jpg" alt="Photo of a Shiba Inu" width="300px" height="300px">
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>Reserve Now</button>
                                </mat-card-actions>
                              </mat-card>
                </div>
                <div fxFlex="25%">
                        <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Triple Room</mat-card-title>
                                  <mat-card-subtitle>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </mat-card-subtitle>
                                  
                                </mat-card-header>
                                <img mat-card-image src="assets/images/9.jpg" width="300px" height="300px">
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>Reserve Now</button>
                                </mat-card-actions>
                              </mat-card>
                </div>
              </div>
   </div>
</section>