
.home-theme {
    background-image: url("src\assets\images\6.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    width: 100% ;
    height: 500px ;
}
.r-button {
    background-color: hsl(43, 100%, 66%) ;
    color:red ;
    margin-top : 80px ;
    margin-right: 90px ;
    font-size: 20px ;
    font-weight: bold ;
    font-family: Georgia, 'Times New Roman', Times, serif ;

}
.text {
        background-color: aliceblue ;
        opacity: .5;
        color : black ;
        padding: 10px ;
        margin-top: 60px ;
        font-size: 50px ;
        font-weight: bold ;
        font-family: Verdana, Geneva, Tahoma, sans-serif  ;
}
.rooms-title {
    text-align: center ;
}










@media screen and (max-width:600px) {
    .text {
        font-size: 25px ;
    }
}