
    <mat-nav-list class="list">
      <h3><a mat-nav-item routerLink="/sign-in"  (click)="closnav()"><mat-icon>input</mat-icon><span>signIn</span></a></h3>
    
      <h3>  <a mat-nav-item routerLink="/sign-up" (click)="closnav()"><mat-icon>account_circle</mat-icon><span>signOut</span></a></h3>
     
      
      <h3><a mat-nav-item routerLink="/accomodation" (click)="closnav()"><mat-icon>hotel</mat-icon><span>Acommodation</span></a></h3>
        
        
      <h3>  <a mat-nav-item routerLink="/offers" (click)="closnav()" ><mat-icon>loyalty</mat-icon><span>Offer</span></a></h3>
            
          </mat-nav-list>
      